@model IEnumerable<School.Entities.User>

@{
    ViewData["Title"] = "עריכת משתמשים";
    var idNumber = User.Identity.Name;
}

<h1>עריכת משתמשים</h1>

<form asp-controller="User" asp-action="Index" method="get">
    <p>
        <span>תעודת זהות</span>
        <input name="idNumber" type="text" value="@Context.Request.Query["idNumber"]" />
    </p>

    <p>
        <span>שם תלמיד</span>
        <input name="name" type="text" placeholder="חיפוש" value="@Context.Request.Query["name"]" />
    </p>

    <p>
        <input type="submit" value="סינון" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    var isMe = item.IdNumber == idNumber;
        <tr style="@(isMe ? "Background-color:red" : "")">
            <td>
                @Html.DisplayFor(modelItem => item.IdNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">ערוך</a>
                <a asp-action="Details" asp-route-id="@item.Id">פרטים</a>
                <a asp-action="Delete" asp-route-id="@item.Id">מחק</a>
            </td>
        </tr>
}
    </tbody>
</table>
