@using School.Controllers;
@model IEnumerable<Tuple<School.Entities.Lesson, School.Entities.Teacher>>

@{
    ViewData["Title"] = "ניהול שיעורים";
}

<p>
    <a asp-action="Create">צור שיעור חדש</a>
</p>


<form asp-controller="Lesson" asp-action="Index" method="get" class="col-md-4">
    <div class="form-group">
        <label>@Html.DisplayNameFor(model => model.Item1.Teacher)</label>
        <select name="teacher" class="form-control" asp-items="ViewBag.Teachers"></select>
    </div>

    <div class="form-group">
        <label>@Html.DisplayNameFor(model => model.Item1.Subject)</label>
        <select name="subject" class="form-control" asp-items="ViewBag.Subjects"></select>
    </div>

    <div class="form-group">
        <label>@Html.DisplayNameFor(model => model.Item1.DayOfWeek)</label>
        <select name="dayOfWeek" class="form-control" asp-items="ViewBag.DaysOfWeek"></select>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="סינון" />
    </div>
</form>

<div class="overflow-auto">
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item1.Teacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item1.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item1.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item1.DayOfWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item1.Hour)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Item2.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item1.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item1.Room.Name)
                </td>
                <td>
                    @LessonController.GetDayDisplayName(item.Item1.DayOfWeek)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item1.Hour)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Item1.Id">ערוך</a> |
                    <a asp-action="Details" asp-route-id="@item.Item1.Id">פרטים</a> |
                    <a asp-action="Delete" asp-route-id="@item.Item1.Id">מחק</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>
