@using School.Controllers;
@model IEnumerable<Tuple<School.Entities.Lesson, School.Entities.Teacher>>

@{
    ViewData["Title"] = "ניהול שיעורים";
}

<p>
    <a asp-action="Create">צור שיעור חדש</a>
</p>

<form asp-controller="Lesson" asp-action="Index" method="get">
    <p>
        <span>סינון לפי מורה</span>
        <input name="teacher" type="text" value="@Context.Request.Query["teacher"]" />
        <input type="submit" value="סינון" />
    </p>
</form>

<div class="overflow-auto">
    <table class="table">
        <thead>
        <tr>
            <th>
                מורה
            </th>
            <th>
                מקצוע
            </th>
            <th>
                חדר
            </th>
            <th>
                יום
            </th>
            <th>
                שעה
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Item2.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item1.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item1.Room.Name)
                </td>
                <td>
                    @LessonController.GetDayDisplayName(item.Item1.DayOfWeek)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item1.Hour)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Item1.Id">ערוך</a> |
                    <a asp-action="Details" asp-route-id="@item.Item1.Id">פרטים</a> |
                    <a asp-action="Delete" asp-route-id="@item.Item1.Id">מחק</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>
